<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Please go to <a href="index.html">the application home page</a> to start working on the donor data.
            </p>
        </div>
    </section>
</div>
